.button {
  width: 100%;
  height: 45px;
  border: solid 1px transparent;
  border-radius: 8px;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  transition-property: background-color border box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;

  &.on {
    background-color: #ffffff !important;
    border: solid 1px #e0e0e0;
    box-shadow: 0 4px 12px #00000014;
  }

  &.bottom-border.on {
    border: solid 1px #e0e0e0;
    border-bottom: solid 3px var(--theme-blue);
  }

  &.left-border.on {
    border: solid 1px #e0e0e0;
    border-left: solid 3px var(--theme-blue);
  }

  &:hover {
    background-color: #fafafa !important;
    box-shadow: 0 4px 12px #00000014;
  }

  &.left-border:hover {
    border-left: solid 2px var(--theme-orange);
  }

  &.bottom-border:hover {
    border-bottom: solid 2px var(--theme-orange);
  }

  &:active {
    background-color: #f2f2f2 !important;
    box-shadow: 0 6px 16px #0000001a;
  }

  &.left-border:active {
    border-left: solid 4px var(--theme-orange);
  }

  &.bottom-border:active {
    border-bottom: solid 4px var(--theme-orange);
  }
}
