.p-panel {
  box-shadow: 0 4px 12px #00000014;
}

.p-toast {
  top: 36px !important;
}

.p-toast-message-content {
  padding: 0.6rem 0.8rem !important;
}

.p-toast-close-button {
  margin-top: -1px !important;
}

.p-toast-message-icon {
  margin-top: 4px !important;
}

.p-password input {
  width: 100%;
}

.p-password-mask-icon,
.p-password-unmask-icon {
  cursor: pointer;
}

.p-panel .p-panel-header:has(.p-panel-header-actions:not(:empty)) {
  padding: 0.396rem 1.125rem !important;
}

.p-select-header {
  padding: 1rem 1rem 0 1rem !important;
}

.p-select-option-blank-icon {
  margin-inline-start: var(--p-select-checkmark-gutter-start);
  margin-inline-end: var(--p-select-checkmark-gutter-end);
}

.p-select-label {
  padding-right: 0 !important;
}
